@import url(/src/css/GLOBAL_STYLES.css);

.text_justify {
    text-align: justify;
    text-justify: inter-word;
}

.mid_title {
    display: block;
    text-align: center;
    margin-bottom: 10pt;
}

.title {
    display: inline-block;
    padding-right: 2pt;
}

.text {
    display: inline-block;

}

.bottom_margin {
    margin-bottom: 10pt;
}
