.data {
    position: relative;
    padding: 20px 0;
}

.title {
    display: flex;
    width: 100%;
    min-height: 40px;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}

.title_char {
    display: flex;
    min-height: 40px;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
}

.flex_wrapper {
    display: flex;
    flex-direction: row;
}



.isolation_block {
    position: relative;
}

.isolation_recolor {
    width: calc(100% + 30px);
    height: 100%;
    position: absolute;
    top: 0;
    left: -15px;
    background-color: var(--field-isolator);
}

.isolation {
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    z-index: 2;
}