.title {
    display: flex;
    min-height: 40px;
    align-self: flex-start;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}

.isolation_block {
    position: relative;
}

.isolation_recolor {
    width: calc(100% + 30px);
    height: 100%;
    position: absolute;
    top: 0;
    left: -15px;
    background-color: var(--field-isolator);
}

.isolation {
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    z-index: 2;
}

.analyzes {
    position: relative;
    display: flex;
    flex-direction: row;
}

.analyzes_left {
    width: 350px;
    flex-shrink: 0;
}

.analyzes_right {
    display: flex;
    width: 100%;
    justify-content: center;

}

.analyzes_fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 620px;
}

.close_button {
    position: absolute;
    top: -25px;
    right: -10px;
}

.close_button svg {
    fill: var(--main-theme-turquoise-color);
    transition: all 0.1s ease-in-out;
}

.close_button:hover svg {
    fill: rgb(216, 9, 9);
    transform: scale(110%);
}

.close_button:active svg {
    transform: scale(95%);
    filter: brightness(75%);
}