html {
    width: 100%;
    height: 100%;
    min-width: 100vh;
    min-height: 100vh;
    background-color: var(--background-theme);
}

body {
    width: inherit;
    height: inherit;
}

#root {
    width: inherit;
    height: inherit;
}

.App {
    min-width: 100%;
    min-height: 100%;

}

.title_text_style {
    font-size: var(--field-title-size);
    line-height: var(--field-title-line-height);
    font-weight: var(--field-title-weight);
    color: var(--main-theme-turquoise-color);
    /* color: white; */
}

.field_text_style {
    font-size: var(--field-text-size);
    line-height: var(--field-text-line-height);
    font-weight: var(--field-text-weight);
    color: white;
}

.header_title_style {
    font-size: var(--header-title-size);
    line-height: var(--header-title-line-height);
    font-weight: var(--header-title-weight);
    color: white;
}

.to_print_title_style {
    font-family: var(--to-print-title-font-family);
    font-size: var(--to-print-title-size);
    line-height: var(--to-print-title-line-height);
    font-weight: var(--to-print-title-weight);
    color: #000;
}

.to_print_text_style {
    font-family: var(--to-print-text-font-family);
    font-size: var(--to-print-text-size);
    line-height: var(--to-print-text-line-height);
    font-weight: var(--to-print-text-weight);
    color: #000;
}

  
